<div id ="forms">
<%= simple_form_for(@tweet,:remote=> true) do |f| %>
  <%= f.error_notification %>

  <div class="form-input">
    <%= f.input :content %>
    <% #@tweet.user =current_user%>
  </div>

  <div class="form-actions">
  <br>

   <button> <%= f.button :submit, :class =>"tweetbutton" %></button>
  </div>


<br>
<% end %>
</div>