<h5>Welcome to Twitter</h5>

<br>
<br>
<br>
 <%= link_to 'New Tweet', new_tweet_path, :class =>"tweetbutton1" %> <%= link_to 'All Tweets', 'tweets',:class=>"tweetbutton1" %>
 <br>
 <br>
 
 <br>
<ul><h1>News Feed</h1></ul>
<%= render 'activities/index' %>

<br>

 






